<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Long-Term Stock Predictor</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
  <!-- <link rel="stylesheet" href="../static/css/style.css" /> -->
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <!-- <div class="col-md-12 jumbotron text-center"> -->
        <h1>Long-Term Stock Predictor</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div id="menuplace">
        </div>
      </div>
      <div class="col-md-10">
        <div id="infoplace">
        </div>
      </div>
    </div>
  </div>

  <!-- <script src="https://cdn.plot.ly/plotly-latest.min.js"></script> -->
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script> -->

  <script src="https://d3js.org/d3.v5.min.js"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script> -->

  <script src="{{ url_for('static', filename='js/functions.js') }}"></script>
  <script src="{{ url_for('static', filename='js/dkplot.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>